/*SASS */
/*SASS mixin'*/
/*end mixin*/
/*base font size*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  overflow: hidden; }

@font-face {
  font-family: FeatherScript;
  src: url(../FeatherScript.otf); }
a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 3em;
  color: white; }

.wdw {
  width: 100vw;
  height: 100vh;
  display: none; }

#wdw-home {
  display: block; }

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: url(../bgPlain.jpg);
  background-size: cover; }

header {
  height: 5em;
  width: 100%;
  display: flex;
  z-index: 999; }

#logo {
  display: flex;
  align-items: center;
  margin-bottom: -2em;
  flex: 1;
  justify-content: flex-start; }

#logo img {
  width: 20em; }

a.toggleNav {
  display: none; }

nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end; }

nav a {
  margin: 1em;
  font-size: 20px;
  color: white; }

#navitems {
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  display: flex;
  align-items: center; }

#login-Lang {
  display: flex;
  flex: 1;
  justify-content: flex-end; }

#login-Lang a {
  color: white;
  margin: .5em;
  font-size: 20px; }

#faGlobe:before {
  content: "\F0AC";
  font-family: FontAwesome;
  padding: 0.3em; }

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 1em; }

#calltoaction {
  color: white;
  text-align: center;
  margin-bottom: 3em;
  font-family: FeatherScript; }

#fpSelect {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer; }

.Box h2 {
  font-size: 3em; }

#box1Front {
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 2em;
  border: 1px solid;
  flex-direction: column; }

#box1Front:hover {
  background: orange;
  border-color: orange; }

#box2Front {
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 2em;
  border: 1px solid;
  flex-direction: column; }

#box2Front:hover {
  background: deepPink;
  border-color: deepPink; }

/*-----------------------   findFlights page --------------------------------------*/
#flightFinder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px; }

.flex-form * {
  display: flex !important;
  align-items: center;
  border: 0;
  padding: 10px;
  background: #fff;
  font-size: 16px;
  margin: 0;
  height: 5em; }

form.flex-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center; }

.flex-form *:last-child {
  border-right: 0; }

#linkAroundSubmit {
  background: none;
  padding: 0;
  text-decoration: none; }

#submit {
  background: orange;
  color: #fff;
  cursor: pointer;
  border-radius: 0 100px 100px 0;
  width: 80px; }

#submit:hover {
  background: darkorange; }

input[type="swap"]:before {
  content: "\F0EC";
  font-family: FontAwesome; }

.checkbox {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

/* Smartphone and small tablets for flight booking form. */
@media only screen and (max-width: 840px) {
  #flightFinder {
    width: 80%;
    height: 100%; }

  form.flex-form {
    flex-wrap: nowrap; }

  i.fa.fa-exchange {
    display: flex !important;
    width: 100%;
    justify-content: center; }

  form.flex-form {
    display: flex;
    flex-direction: column;
    width: 100%; }

  input#from, input#to {
    height: 5em;
    margin: 1em;
    width: 100%; }

  .dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    width: 100%; }

  input#date1, input#date2 {
    font-size: 1em;
    padding-left: 0; }

  input#date2 {
    padding-bottom: 1em; }

  select {
    height: 5em;
    margin: 1em;
    font-size: 40px;
    width: 100%; }

  #linkAroundSubmit {
    width: 100%;
    padding: 0;
    margin-top: 1em; }

  #submit {
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    text-align: center; }

  form.checkbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 20em;
    color: #000;
    width: 100%;
    margin-left: 1em; }

  input[type='radio'] {
    transform: scale(3);
    margin-right: 2em; } }
/* ------------------ end flightsFinder page------------------------*/
/*----------------------- Previous Journey page ---------------------*/
#previousJourneys {
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em; }

#previousJourneys h1 {
  border-bottom: 1px solid black;
  padding: 10px; }

.journey {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #000; }

.journey .flight-icon {
  font-size: 50px;
  padding: 0 20px;
  text-align: center; }

.journey div {
  font-size: 14px; }

.departure, .arrival {
  text-align: center;
  margin: 0 10px;
  width: 100px; }

.pink, .yellow, .button.return {
  height: 5em;
  width: 10em;
  padding: 13px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.pink {
  padding: 24px;
  background-color: deepPink;
  color: #fff; }

.pink:hover {
  background: #b607ff; }

.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f26822;
  color: white;
  padding: 15px 10px !important; }

.yellow:hover {
  background: darkorange; }

.journey div {
  page-break-after: always;
  /* CSS 2.1 syntax */
  break-after: always;
  /* New syntax */ }

/*Media query 1255*/
@media screen and (max-width: 795px) {
  #previousJourneys {
    width: 95%; }

  /* ------- */
  .arrival {
    margin-bottom: 10px; }

  .journey .button.yellow,
  .journey .button.pink {
    min-width: 94% !important;
    margin-bottom: 5px;
    padding: 22px 10px !important; } }
@media screen and (max-width: 835px) {
  .button {
    width: 6em; } }
@media screen and (max-width: 1135px) {
  .button.yellow {
    padding: 15px 10px !important; } }
@media screen and (max-width: 1260px) {
  .journey {
    flex-wrap: wrap;
    justify-content: center; }

  .journey div {
    min-width: 28%; }

  .button.yellow {
    padding: 22px 10px; }

  .button {
    width: 8em; }

  .journey .flight-icon {
    margin: 0 10px; } }
/*end previous journey page */
/* ---------------- Payment page ------------------------- */
#payment {
  height: 70%;
  width: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em; }

#payment input {
  width: 100%; }

#payment-submit {
  width: 100%;
  margin: 1em 0 0 0; }

#payment .information {
  display: flex;
  flex-grow: 1; }

#payment .information label {
  display: block; }

#payment .information input {
  margin: 0.5em; }

.credit-card-information {
  margin-right: 10px; }

.personal-information {
  margin-right: 100px; }

.personal-information, .credit-card-information {
  width: 50%; }

input#payment-submit {
  background: deepPink;
  color: white; }

#payment-submit:hover {
  background: #b607ff; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  padding: 2px 16px;
  background-color: #2196F3;
  color: white;
  text-align: center; }

.modal-body {
  padding: 2px 16px;
  text-align: center; }

/*-------------------------------------------------------------------------*/
/* login page*/
#loginForm {
  background: rgba(255, 255, 255, 0.3);
  padding: 1em; }

.log-form {
  display: flex;
  flex-direction: column;
  width: 20em;
  text-align: center; }

form {
  display: flex;
  flex-direction: column; }

input {
  padding: 1em;
  margin: 1em;
  border: 0; }

button.btn {
  padding: 1em;
  margin: 1em;
  border: 0;
  font-size: 18px;
  background: orange;
  color: #fff; }

button.btn:hover {
  background: darkorange;
  cursor: pointer;
  color: white; }

/*admin page */
.admin {
  display: flex;
  flex-direction: column; }

.adminPanel {
  width: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  padding: 1em; }

#adminNav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid;
  padding-bottom: 1em; }

#adminNav a {
  padding: 1em 2em; }

a#adminPrevJourney {
  background: deepPink;
  color: white;
  font-size: 18px; }

a#adminPrevJourney:hover {
  background: #b607ff; }

a#adminNewFlight {
  background: orange;
  color: white;
  font-size: 18px; }

a#adminNewFlight:hover {
  background: darkorange; }

ul#list li {
  margin: 1em 2em; }

/*end admin page */
/* flight results */
.secHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: .7em; }

.button.return {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: orange;
  color: white; }

.button.return a {
  color: white; }

/*end flight results*/
/*Media queries */
/*Mobile - Less than or equal to 270.*/
@media only screen and (max-width: 440px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
    height: 6em; }

  nav {
    display: flex;
    justify-content: center; }

  #fpSelect {
    justify-content: space-around;
    height: auto; }

  section {
    width: 100%; }

  #calltoaction {
    margin-bottom: 0; }

  /*previous journey*/
  .journey {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  /*Previous journey*/ }
/*Mobile - Less than or equal to 640.*/
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.5em; }

  section {
    width: 100%; }

  /*nav menu */
  a.toggleNav {
    display: flex;
    margin-top: 2em;
    z-index: 900; }

  ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;
    padding-top: 1em;
    right: 0em;
    width: 100%;
    background: black;
    text-align: center; }

  nav ul {
    display: none; }

  /*end nav menu */
  .Box h2 {
    font-size: 2em; }

  #box1Front {
    height: 10em;
    margin: 1em 0;
    width: 20em; }

  #box2Front {
    height: 10em;
    width: 20em; }

  /*admin */
  .adminPanel {
    width: 80%;
    padding: .5em; }

  #adminNav {
    flex-direction: column;
    text-align: center; }

  .admin h1 {
    text-align: center; }

  ul#list li {
    margin: 1em 0em 0em 1em; }

  /*previous journey*/
  .journey {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; }

  /*Previous journey*/
  /*payment page */
  #payment {
    width: 80%; }

  #payment .information {
    flex-direction: column; }

  .personal-information, .credit-card-information {
    width: 100%; }

  /*end payment page */ }
/* less than/equal to 1024 and greater than 640*/
@media only screen and (max-width: 1024px) and (min-width: 640px) {
  section {
    width: 100%; }

  ul.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;
    right: 0em;
    width: 100%;
    background: black;
    text-align: center; }

  nav ul {
    display: none; }

  /*end nav menu */ }

/*# sourceMappingURL=style.css.map */
