/*SASS */

/*SASS mixin'*/
@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction:column;
}
/*end mixin*/

$deepPink: deepPink;
$orange: orange;
$transParentBG: rgba(255, 255, 255, 0.3);
$whiteText: white;

$pinkHover: #b607ff;
$orangeHover: darkorange;

$font16:16px; /*base font size*/


* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
  font-size: $font16;
  overflow: hidden;
}

@font-face {
  font-family: FeatherScript;
  src: url(../FeatherScript.otf);
}

a{
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  color:$whiteText;
}

.wrapper {
  width:100%;
  height:100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: url(../bgPlain.jpg);
  background-size: cover;
 }

header {
  height: 5em;
  width: 100%;
  display: flex;
  z-index: 999;
}

#logo {
  display: flex;
  align-items: center;
  margin-bottom: -2em;
  flex: 1;
  justify-content: flex-start;
}

#logo img {
  width: 20em;
}

a.toggleNav {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

nav a {
  margin: 1em;
  font-size: 20px;
  color: $whiteText;
}

#navitems {
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
  display: flex;
  align-items: center;
}

#login-Lang {
  display: flex;
  flex:1;
  justify-content: flex-end;
}

#login-Lang a {
  color: $whiteText;
  margin: .5em;
  font-size: 20px;
}

#faGlobe:before {
  content: "\F0AC";
  font-family: FontAwesome;
  padding: 0.3em;
}

#container {
  @include center-children;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

section {
  @include center-children;
  width: 50%;
  margin: 1em;
}

#calltoaction {
  color: $whiteText;
  text-align: center;
  margin-bottom:3em;
  font-family: FeatherScript;
}

#fpSelect {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fpSec1 a {
  color: $whiteText;
}

#fpSec2 a {
  color: $whiteText;
}

.Box h2 {
  font-size:3em;
}

#box1Front {
  width: 30em;
  @include center-children;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 2em;
  border: 1px solid;
  flex-direction: column;
}

#box1Front:hover {
  background: $orange;
  border-color:$orange;
}

#box2Front {
  width: 30em;
  @include center-children;
  background: rgba(255, 255, 255, 0.3);
  padding: 1em 2em;
  border: 1px solid;
  flex-direction: column;
}

#box2Front:hover {
  background: $deepPink;
  border-color: $deepPink;
}

/*-----------------------   findFlights page --------------------------------------*/

#flightFinder {
  @include center-children;
  flex-direction: column;
  background: $transParentBG;
  padding: 10px;
}

.flex-form * {
  display: flex !important;
  align-items: center;
  border: 0;
  padding: 10px;
  background: #fff;
  font-size: $font16;
  margin: 0;
  height: 5em;
}

form.flex-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.flex-form *:last-child {
  border-right: 0;
}

#linkAroundSubmit {
  background: none;
  padding:0;
  text-decoration: none;
}

#submit {
  background: $orange;
  color: #fff;
  cursor: pointer;
  border-radius: 0 100px 100px 0;
  width: 80px;
  min-height: 5em;
}

#submit:hover {
  background: $orangeHover;
}

input[type="swap"]:before{
  content:"\F0EC";
  font-family: FontAwesome;
}

.checkbox {
  display: flex;
  color: $whiteText;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Smartphone and small tablets for flight booking form. */
@media only screen and (max-width: 840px) {

  #flightFinder {
    width: 80%;
  }

  form.flex-form {
    flex-wrap: nowrap;
  }


  i.fa.fa-exchange {
    display: flex !important;
    width: 100%;
    justify-content: center;
  }

  form.flex-form {
    @include flex-col;
    width:100%;
  }

  input#from, input#to {
    height: 5em;
    margin: 1em;
    width: 100%;
  }

  .dates {
    @include flex-col;
    justify-content: center;
    margin: 1em;
    width: 100%;
  }

  input#date1, input#date2 {
    font-size: 1em;
    padding-left: 0;
  }

  input#date2 {
    padding-bottom: 1em;
  }

  select {
    height: 5em;
    margin: 1em;
    font-size: 40px;
    width: 100%;
  }

  #linkAroundSubmit {
    width: 100%;
    padding:0;
  }

  #submit {
    width: 100%;
    height: 4em;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    min-height: 2em;
  }

  form.checkbox {
    @include flex-col;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 20em;
    color: #000;
    width: 100%;
    margin-left: 1em;
  }

  input[type='radio'] {
    transform: scale(3);
    margin-right: 2em;
  }
}
/* ------------------ end flightsFinder page------------------------*/

/*----------------------- Previous Journey page ---------------------*/
#previousJourneys {
  height: 70%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $transParentBG;
  padding: 1em;
}
#previousJourneys h1 {
  border-bottom: 1px solid black;
  padding: 10px;
}
.journey {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  align-items:center;
  border-bottom: 1px solid #000;
}
.journey .flight-icon {
  font-size: 50px;
  padding: 0 20px;
  text-align: center;
}
.journey div {
  font-size: 14px;
}
.departure,.arrival {
  text-align: center;
  margin: 0 10px;
  width: 100px;
}
%button {
  height: 5em;
  width: 10em;
  padding: 13px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  @include center-children;
}
.pink {
  @extend %button;
  padding: 24px;
  background-color: $deepPink;
  color:#fff;
}

.pink:hover {
  background: $pinkHover;
}

.yellow {
  @extend %button;
  @include center-children;
  background-color: #f26822;
  color: $whiteText;
  padding: 15px 10px !important;
}

.yellow:hover {
  background: $orangeHover;
}

.journey div {
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always; /* New syntax */

}
/*Media query 1255*/
@media screen and (max-width: 795px) {
  #previousJourneys {
    width: 95%;
  }

  /* ------- */
  .arrival {
    margin-bottom: 10px;
  }
  .journey .button.yellow,
  .journey .button.pink {
    min-width: 94% !important;
    margin-bottom: 5px;
    padding: 22px 10px !important;
  }

}
@media screen and (max-width: 835px) {
  .button {
    width: 6em;
  }
}
@media screen and (max-width: 1135px) {
  .button.yellow {
    padding: 15px 10px !important;
  }
}
@media screen and (max-width: 1260px) {
  .journey {
    flex-wrap: wrap;
    justify-content: center;
  }
  .journey div {
    min-width: 28%;
  }
  .button.yellow {
    padding: 22px 10px;
  }
  .button {
    width: 8em;
  }
  .journey .flight-icon {
    margin: 0 10px;
  }
}
/*end previous journey page */

/* ---------------- Payment page ------------------------- */
#payment {
  height: 70%;
  width:50%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $transParentBG;
  padding: 1em;
}
#payment input {
  width: 100%;
}
#payment-submit {
  width: 100%;
  margin: 1em 0 0 0;
}
#payment .information {
  display: flex;
  flex-grow: 1;
}
#payment .information label {
  display: block;
}
#payment .information input {
  margin: 0.5em;
}
.credit-card-information{
  margin-right: 10px;
}
.personal-information {
  margin-right: 100px;
}
.personal-information, .credit-card-information {
  width: 50%;
}

input#payment-submit {
  background: $deepPink;
  color: $whiteText;
}

#payment-submit:hover {
  background: $pinkHover;
}

/*-------------------------------------------------------------------------*/

/* login page*/
#loginForm {
  background: $transParentBG;
  padding: 1em;
}


.log-form {
  @include flex-col;
  width: 20em;
  text-align: center;
}
form {
  @include flex-col;
}

input {
  padding: 1em;
  margin: 1em;
  border: 0;
}

button.btn {
  padding: 1em;
  margin: 1em;
  border: 0;
  font-size: 18px;
  background: $orange;
  color:#fff;
}

button.btn:hover {
  background: $orangeHover;
  cursor: pointer;
  color:$whiteText;
}

/*admin page */
.admin {
  @include flex-col;
}

.adminPanel {
  width: 50%;
  background: $transParentBG;
  border: 1px solid $whiteText;
  padding: 1em;
}

#adminNav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid;
  padding-bottom: 1em;
}

#adminNav a {
  padding: 1em 2em;
}

a#adminPrevJourney {
  background: $deepPink;
  color: $whiteText;
  font-size:18px;
}

a#adminPrevJourney:hover {
  background: $pinkHover;
}

a#adminNewFlight {
  background: $orange;
  color: $whiteText;
  font-size:18px;
}

a#adminNewFlight:hover {
  background: $orangeHover;
}

ul#list li {
  margin: 1em 2em;
}
/*end admin page */

/* flight results */
.secHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: .7em;
}

.button.return {
  @include center-children;
  @extend %button;
  font-size: 16px;
  background: $orange;
  color: $whiteText;
}

.button.return a {
  color: $whiteText;
}
/*end flight results*/


/*Media queries */
/*Mobile - Less than or equal to 270.*/
@media only screen and (max-width: 440px) {
  header {
    @include center-children;
    flex-direction: column;
    padding-top: 1em;
    height: 5em;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  /*previous journey*/
  .journey {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  /*Previous journey*/
}


/*Mobile - Less than or equal to 640.*/
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 1.5em;
  }


  /*nav menu */
  a.toggleNav {
    display: flex;
    margin-top:2em;
  }

  ul.open {
    @include flex-col;
    position: absolute;
    top: 5em;
    right: 0em;
    width: 100%;
    background: black;
    text-align: center;
  }
  nav ul {
  display: none;
  }
  /*end nav menu */

  .Box h2 {
    font-size: 2em;
  }

  #box1Front {
    height: 10em;
    width: 30em;
    margin: 1em 0;
  }

  #box2Front {
    height: 10em;
    width: 30em;
  }


  /*admin */
  .adminPanel {
    width: 80%;
    padding: .5em;
  }

  #adminNav {
    flex-direction: column;
    text-align: center;
  }

  .admin h1 {
    text-align: center;
  }

  ul#list li {
    margin: 1em 0em 0em 1em;
  }

  /*previous journey*/
  .journey {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  /*Previous journey*/


  /*payment page */
  #payment {
    width: 80%;
  }

  #payment .information {
    flex-direction: column;
  }

  .personal-information, .credit-card-information {
    width: 100%;
  }

  /*end payment page */
}

/* less than/equal to 1024 and greater than 640*/
@media only screen and (max-width: 1024px) and (min-width: 640px) {
  /*nav menu */
  a.toggleNav {
    display: flex;
  }

  ul.open {
    @include flex-col;
    position: absolute;
    top: 5em;
    right: 0em;
    width: 100%;
    background: black;
    text-align: center;
  }
  nav ul {
    display: none;
  }
  /*end nav menu */


  #box1Front {
    height: 10em;
    width: 30em;
    margin: 1em 0;
  }

  #box2Front {
    height: 10em;
    width: 30em;
  }

}
